Repository karrot-dev/karrot-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, yapf, makemessages

autoflake:
  name: autoflake
  entry: ./scripts/local-or-docker-compose autoflake
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --remove-duplicate-keys
  - --expand-star-imports
  language: system

yapf:
  name: yapf
  entry: ./scripts/local-or-docker-compose yapf
  args:
  - --in-place
  language: system

makemessages:
  name: makemessages
  entry: ./scripts/local-or-docker-compose python manage.py makemessages
  language: system
  stages:
  - push
  require_serial: true
  pass_filenames: false

Remove accidently committed file
  karrot/stats/tests/testsnext.off
Due: none

Allow feedback after start, record history at end
  karrot/activities/migrations/0042_activity_has_started.py
  karrot/activities/models.py
  karrot/activities/tasks.py
  karrot/activities/tests/test_activities_api_filter.py
  karrot/activities/tests/test_models.py
  karrot/history/tests/test_api.py
  karrot/management/commands/create_sample_data.py
  karrot/notifications/receivers.py
  karrot/notifications/tests/test_receivers.py
  karrot/stats/tests/test_api.py
  karrot/subscriptions/receivers.py
  karrot/subscriptions/tests/test_receivers.py
Due: autoflake, yapf, makemessages

Remove unused statement
  karrot/activities/models.py
Due: autoflake, yapf, makemessages

Refine comment
  karrot/history/migrations/0016_fix_activity_done_missed_history.py
Due: makemessages

WIP
  config/settings.py
  config/urls.py
  karrot/meet/__init__.py
  karrot/meet/api.py
  karrot/meet/urls.py
  requirements.in
  requirements.txt
Due: autoflake, yapf, makemessages

Allow to specify which room to connect to
  config/urls.py
  karrot/meet/api.py
  karrot/meet/urls.py
Due: autoflake, yapf, makemessages

Tweaks
  karrot/activities/migrations/0043_set_activity_has_started.py
  karrot/history/migrations/0016_fix_activity_done_missed_history.py
Due: makemessages

Update locales
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

Allow feedback from start, collect history at end, fix history errors (#1280)
  karrot/activities/migrations/0042_activity_has_started.py
  karrot/activities/migrations/0043_set_activity_has_started.py
  karrot/activities/models.py
  karrot/activities/tasks.py
  karrot/activities/tests/test_activities_api_filter.py
  karrot/activities/tests/test_models.py
  karrot/history/migrations/0016_fix_activity_done_missed_history.py
  karrot/history/tests/test_api.py
  karrot/history/tests/test_data_migrations.py
  karrot/locale/en/LC_MESSAGES/django.po
  karrot/management/commands/create_sample_data.py
  karrot/notifications/receivers.py
  karrot/notifications/tests/test_receivers.py
  karrot/stats/tests/test_api.py
  karrot/subscriptions/receivers.py
  karrot/subscriptions/tests/test_receivers.py
Due: autoflake, yapf, makemessages

Switch to using is_archived everywhere
  karrot/activities/filters.py
  karrot/activities/serializers.py
  karrot/history/models.py
  karrot/offers/filters.py
  karrot/offers/receivers.py
  karrot/offers/serializers.py
  karrot/places/serializers.py
  karrot/subscriptions/utils.py
Due: autoflake, yapf, makemessages

Fix
  karrot/users/tests/test_data_migrations.py
Due: autoflake, yapf, makemessages

Add initial ordering for place statuses
  karrot/places/migrations/0050_alter_placestatus_options_placestatus_order.py
  karrot/places/migrations/0051_alter_placestatus_options.py
  karrot/places/migrations/0052_set_place_status_order.py
  karrot/places/migrations/0053_alter_placestatus_order.py
  karrot/places/models.py
  karrot/places/serializers.py
  requirements.in
  requirements.txt
Due: autoflake, yapf, makemessages

Add consistent archived_at field
  karrot/activities/migrations/0041_activitytype_archived_at.py
  karrot/activities/migrations/0042_set_activity_type_archived_at.py
  karrot/activities/models.py
  karrot/activities/tests/test_data_migrations.py
  karrot/offers/migrations/0005_offer_archived_at.py
  karrot/offers/migrations/0006_set_archived_at.py
  karrot/offers/models.py
  karrot/offers/tests/test_data_migrations.py
  karrot/places/migrations/0039_place_archived_at_placetype_archived_at.py
  karrot/places/migrations/0040_set_place_archived_at.py
  karrot/places/models.py
  karrot/places/tests/test_data_migrations.py
Due: autoflake, yapf, makemessages

Add description to activity type and fix create
  karrot/activities/migrations/0045_activitytype_description.py
  karrot/activities/models.py
  karrot/activities/serializers.py
Due: autoflake, yapf, makemessages

Locale updates
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

Add description and is_visible
  karrot/history/migrations/0016_alter_history_after_alter_history_before_and_more.py
  karrot/places/migrations/0047_rename_show_on_map_placestatus_visible.py
  karrot/places/migrations/0048_placestatus_description.py
  karrot/places/migrations/0049_rename_visible_placestatus_is_visible.py
  karrot/places/models.py
  karrot/places/serializers.py
Due: autoflake, yapf, makemessages

Replace enum place statuses with foreign key ones
  config/settings.py
  karrot/activities/api.py
  karrot/activities/tasks.py
  karrot/activities/tests/test_activities_api.py
  karrot/activities/tests/test_tasks.py
  karrot/groups/models.py
  karrot/groups/stats.py
  karrot/groups/tests/test_stats.py
  karrot/management/commands/create_sample_data.py
  karrot/places/factories.py
  karrot/places/migrations/0043_placetype_description_placestatus_place_status_next.py
  karrot/places/migrations/0044_migrate_place_statuses.py
  karrot/places/migrations/0045_remove_place_status.py
  karrot/places/migrations/0046_rename_status_next_place_status.py
  karrot/places/models.py
  karrot/places/place_statuses.py
  karrot/places/serializers.py
  karrot/places/tests/test_data_migrations.py
  karrot/places/tests/test_place_types_api.py
  karrot/places/tests/test_places_api.py
  karrot/status/helpers.py
Due: autoflake, yapf, makemessages

Use consistent access to apps in data migrations
  karrot/activities/tests/test_data_migrations.py
  karrot/conversations/tests/test_data_migrations.py
  karrot/groups/tests/test_data_migrations.py
  karrot/issues/tests/test_data_migrations.py
  karrot/offers/tests/test_data_migrations.py
  karrot/places/tests/test_data_migrations.py
  karrot/tests/utils.py
  karrot/users/tests/test_data_migrations.py
Due: autoflake, yapf, makemessages

Locales update
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

Add django-watchfiles
  config/settings.py
  requirements.in
  requirements.txt
Due: autoflake, yapf, makemessages

Post-rebase fixes
  karrot/activities/filters.py
  karrot/activities/migrations/0042_activitytype_archived_at.py
  karrot/activities/migrations/0043_set_activity_type_archived_at.py
  karrot/activities/migrations/0044_remove_activitytype_status.py
  karrot/activities/tests/test_activities_api.py
  karrot/activities/tests/test_data_migrations.py
Due: autoflake, yapf, makemessages

Add initial place status APIs
  config/urls.py
  karrot/history/models.py
  karrot/places/api.py
  karrot/places/filters.py
  karrot/places/serializers.py
Due: autoflake, yapf, makemessages

Remove legacy status fields
  config/settings.py
  karrot/activities/migrations/0043_remove_activitytype_status.py
  karrot/activities/models.py
  karrot/activities/receivers.py
  karrot/activities/serializers.py
  karrot/activities/tests/test_activities_api.py
  karrot/activities/tests/test_activity_series_api.py
  karrot/activities/tests/test_models.py
  karrot/groups/stats.py
  karrot/groups/tests/test_stats.py
  karrot/history/tests/test_api.py
  karrot/offers/api.py
  karrot/offers/factories.py
  karrot/offers/filters.py
  karrot/offers/migrations/0007_remove_offer_status.py
  karrot/offers/models.py
  karrot/offers/serializers.py
  karrot/offers/tests/test_api.py
  karrot/places/migrations/0041_remove_placetype_status_alter_place_status.py
  karrot/places/migrations/0042_alter_place_status.py
  karrot/places/models.py
  karrot/places/serializers.py
  karrot/places/tests/test_models.py
  karrot/places/tests/test_places_api.py
  karrot/stats/tests/test_api.py
  karrot/subscriptions/receivers.py
Due: autoflake, yapf, makemessages

Allow to update places status when updating status
  karrot/places/serializers.py
Due: autoflake, yapf, makemessages

Fixup tests and some warnings
  karrot/activities/migrations/0044_activitytype_archived_at.py
  karrot/activities/migrations/0045_set_activity_type_archived_at.py
  karrot/activities/migrations/0046_remove_activitytype_status.py
  karrot/activities/migrations/0047_activitytype_description.py
  karrot/activities/models.py
  karrot/activities/tests/test_data_migrations.py
  karrot/history/migrations/0017_alter_history_after_alter_history_before_and_more.py
  karrot/history/tests/test_data_migrations.py
  karrot/offers/models.py
  karrot/offers/receivers.py
  karrot/offers/tests/test_api.py
  karrot/places/models.py
  karrot/places/tests/test_places_api.py
Due: autoflake, yapf, makemessages

Remove offer status_changed_at field
  karrot/offers/migrations/0008_remove_offer_status_changed_at.py
  karrot/offers/models.py
Due: autoflake, yapf, makemessages

Rationalize place status migrations
  karrot/management/commands/create_sample_data.py
  karrot/places/migrations/0043_placetype_description_placestatus_place_status_next.py
  karrot/places/migrations/0044_migrate_place_statuses.py
  karrot/places/migrations/0047_rename_show_on_map_placestatus_visible.py
  karrot/places/migrations/0048_placestatus_description.py
  karrot/places/migrations/0049_rename_visible_placestatus_is_visible.py
  karrot/places/migrations/0050_alter_placestatus_options_placestatus_order.py
  karrot/places/migrations/0051_alter_placestatus_options.py
  karrot/places/migrations/0052_set_place_status_order.py
  karrot/places/migrations/0053_alter_placestatus_order.py
  karrot/places/place_statuses.py
Due: autoflake, yapf, makemessages

Remove comment
  karrot/places/place_statuses.py
Due: autoflake, yapf, makemessages

Make place status required
  karrot/places/migrations/0044_migrate_place_statuses.py
  karrot/places/migrations/0047_alter_place_status.py
  karrot/places/models.py
Due: autoflake, yapf, makemessages

Fixup tests
  karrot/history/tests/test_api.py
  karrot/places/tests/test_models.py
Due: autoflake, yapf, makemessages

Switch to ruff
  .pre-commit-config.yaml
  .style.yapf
  config/settings.py
  pyproject.toml
  requirements.in
  requirements.txt
  yapf.py
Due: autoflake, yapf, makemessages

Update pyproject.toml
  pyproject.toml
Due: none

Add DTZ ruff rules
  karrot/activities/serializers.py
  karrot/activities/tests/test_models.py
  karrot/groups/tests/test_tasks.py
Due: autoflake, yapf, makemessages

Add C4 ruff rules
  .gitignore
  karrot/activities/emails.py
  karrot/activities/tasks.py
Due: autoflake, yapf, makemessages

Path conditions:
  autoflake: any of: \.py$, but not: karrot/.*/migrations
  yapf: any of: \.py$, but not: karrot/.*/migrations
  makemessages: any of: \.py$
