Repository karrot-dev/karrot-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, yapf, makemessages

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: autoflake
    name: autoflake
    entry: ./scripts/local-or-docker-compose autoflake
    args:
    - "--in-place"
    - "--remove-all-unused-imports"
    - "--remove-unused-variables"
    - "--remove-duplicate-keys"
    - "--expand-star-imports"
    language: system
    types: [python]
    exclude: "karrot\/.*\/migrations"
  - id: yapf
    name: yapf
    entry: ./scripts/local-or-docker-compose yapf
    args:
    - "--in-place"
    language: system
    types: [python]
    exclude: "karrot\/.*\/migrations"
  # See https://github.com/karrot-dev/karrot-frontend/issues/2476
  #- id: flake8
  #  name: flake8
  #  entry: flake8
  #  language: system
  #  types: [python]
  - id: makemessages
    name: makemessages
    entry: ./scripts/local-or-docker-compose python manage.py makemessages
    language: system
    types: [python]
    stages: [push]
    require_serial: true
    pass_filenames: false

[CI] update dependencies (#1225)
  karrot/locale/en/LC_MESSAGES/django.po
  mjml/package.json
  mjml/yarn.lock
  requirements.txt
Due: none

Updated Emoji List on Backend in Response to Issue #2524 (#1222)
  karrot/conversations/emoji_db.py
  karrot/conversations/management/commands/make_emoji_list.py
  karrot/conversations/tests/test_api.py
Due: autoflake, yapf, makemessages

[CI] update locales
  karrot/locale/ar/LC_MESSAGES/django.po
  karrot/locale/cs/LC_MESSAGES/django.po
  karrot/locale/da/LC_MESSAGES/django.po
  karrot/locale/de/LC_MESSAGES/django.po
  karrot/locale/el/LC_MESSAGES/django.po
  karrot/locale/eo/LC_MESSAGES/django.po
  karrot/locale/es/LC_MESSAGES/django.po
  karrot/locale/es_CO/LC_MESSAGES/django.po
  karrot/locale/fa/LC_MESSAGES/django.po
  karrot/locale/fa_IR/LC_MESSAGES/django.po
  karrot/locale/fr/LC_MESSAGES/django.po
  karrot/locale/gu/LC_MESSAGES/django.po
  karrot/locale/he_IL/LC_MESSAGES/django.po
  karrot/locale/hr/LC_MESSAGES/django.po
  karrot/locale/hu/LC_MESSAGES/django.po
  karrot/locale/id/LC_MESSAGES/django.po
  karrot/locale/it/LC_MESSAGES/django.po
  karrot/locale/ja/LC_MESSAGES/django.po
  karrot/locale/ko_KR/LC_MESSAGES/django.po
  karrot/locale/lb/LC_MESSAGES/django.po
  karrot/locale/mr/LC_MESSAGES/django.po
  karrot/locale/nl/LC_MESSAGES/django.po
  karrot/locale/no/LC_MESSAGES/django.po
  karrot/locale/pl/LC_MESSAGES/django.po
  karrot/locale/pt/LC_MESSAGES/django.po
  karrot/locale/pt_BR/LC_MESSAGES/django.po
  karrot/locale/ro/LC_MESSAGES/django.po
  karrot/locale/ru/LC_MESSAGES/django.po
  karrot/locale/ru_RU/LC_MESSAGES/django.po
  karrot/locale/sv/LC_MESSAGES/django.po
  karrot/locale/zh_Hans/LC_MESSAGES/django.po
  karrot/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

[CI] update locales (#1226)
  karrot/locale/ar/LC_MESSAGES/django.po
  karrot/locale/cs/LC_MESSAGES/django.po
  karrot/locale/da/LC_MESSAGES/django.po
  karrot/locale/de/LC_MESSAGES/django.po
  karrot/locale/el/LC_MESSAGES/django.po
  karrot/locale/eo/LC_MESSAGES/django.po
  karrot/locale/es/LC_MESSAGES/django.po
  karrot/locale/es_CO/LC_MESSAGES/django.po
  karrot/locale/fa/LC_MESSAGES/django.po
  karrot/locale/fa_IR/LC_MESSAGES/django.po
  karrot/locale/fr/LC_MESSAGES/django.po
  karrot/locale/gu/LC_MESSAGES/django.po
  karrot/locale/he_IL/LC_MESSAGES/django.po
  karrot/locale/hr/LC_MESSAGES/django.po
  karrot/locale/hu/LC_MESSAGES/django.po
  karrot/locale/id/LC_MESSAGES/django.po
  karrot/locale/it/LC_MESSAGES/django.po
  karrot/locale/ja/LC_MESSAGES/django.po
  karrot/locale/ko_KR/LC_MESSAGES/django.po
  karrot/locale/lb/LC_MESSAGES/django.po
  karrot/locale/mr/LC_MESSAGES/django.po
  karrot/locale/nl/LC_MESSAGES/django.po
  karrot/locale/no/LC_MESSAGES/django.po
  karrot/locale/pl/LC_MESSAGES/django.po
  karrot/locale/pt/LC_MESSAGES/django.po
  karrot/locale/pt_BR/LC_MESSAGES/django.po
  karrot/locale/ro/LC_MESSAGES/django.po
  karrot/locale/ru/LC_MESSAGES/django.po
  karrot/locale/ru_RU/LC_MESSAGES/django.po
  karrot/locale/sv/LC_MESSAGES/django.po
  karrot/locale/zh_Hans/LC_MESSAGES/django.po
  karrot/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

update PO file
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

Revert "update PO file"
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

[CI] update locales
  karrot/locale/ko_KR/LC_MESSAGES/django.po
Due: none

[CI] update locales (#1227)
  karrot/locale/ko_KR/LC_MESSAGES/django.po
Due: none

add token auth API for ICS export
  karrot/activities/api.py
  karrot/activities/migrations/0032_auto_20220626_2118.py
  karrot/activities/models.py
  karrot/activities/tests/test_activities_api_ics_token.py
Due: autoflake, yapf, makemessages

always return token on GET
  karrot/activities/api.py
  karrot/activities/tests/test_activities_api_ics_token.py
Due: autoflake, yapf, makemessages

Add group membership email visibility
  karrot/groups/api.py
  karrot/groups/migrations/0044_groupmembership_is_email_visible.py
  karrot/groups/models.py
  karrot/groups/serializers.py
  karrot/users/serializers.py
Due: autoflake, yapf, makemessages

Add group membership API
  karrot/groups/api.py
  karrot/groups/serializers.py
Due: autoflake, yapf, makemessages

Update locales
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

convert token to UUID
  karrot/activities/api.py
  karrot/activities/migrations/0032_auto_20220626_2118.py
  karrot/activities/models.py
Due: autoflake, yapf, makemessages

Fix formatting
  karrot/groups/serializers.py
Due: autoflake, yapf, makemessages

Fix subscription transaction issues
  karrot/activities/serializers.py
  karrot/places/serializers.py
  karrot/subscriptions/receivers.py
Due: autoflake, yapf, makemessages

add back migration
  karrot/activities/migrations/0032_icsauthtoken.py
Due: makemessages

Remove votes for ongoing issues when user leaves
  karrot/issues/receivers.py
  karrot/issues/tests/test_api.py
Due: autoflake, yapf, makemessages

[CI] update locales
  karrot/locale/fr/LC_MESSAGES/django.po
Due: none

[CI] update locales (#1232)
  karrot/locale/fr/LC_MESSAGES/django.po
Due: none

Add token auth API for ICS export (#1229)
  karrot/activities/api.py
  karrot/activities/migrations/0032_icsauthtoken.py
  karrot/activities/models.py
  karrot/activities/tests/test_activities_api_ics_token.py
Due: autoflake, yapf, makemessages

Remove votes for ongoing issues when user leaves (#1233)
  karrot/issues/receivers.py
  karrot/issues/tests/test_api.py
Due: autoflake, yapf, makemessages

Push user updates when changing email visiblity
  karrot/subscriptions/receivers.py
Due: autoflake, yapf, makemessages

use next-gen CI image
  .circleci/config.yml
Due: none

CI: specify postgres image version
  .circleci/config.yml
Due: none

[CI] update locales
  karrot/locale/es/LC_MESSAGES/django.po
Due: none

[CI] update locales (#1234)
  karrot/locale/es/LC_MESSAGES/django.po
Due: none

Add tests for extra activity filters
  karrot/activities/tests/test_filters.py
Due: autoflake, yapf, makemessages

Activity type and slots filter for activities
  karrot/activities/filters.py
  karrot/activities/models.py
Due: autoflake, yapf, makemessages

Configurable page size for activities
  karrot/activities/api.py
Due: autoflake, yapf, makemessages

Add more activity filters and pagination options (#1235)
  karrot/activities/api.py
  karrot/activities/filters.py
  karrot/activities/models.py
  karrot/activities/tests/test_filters.py
Due: autoflake, yapf, makemessages

Add places=subscribed activity filter
  karrot/activities/filters.py
  karrot/activities/tests/test_filters.py
Due: autoflake, yapf, makemessages

[CI] update dependencies
  mjml/package.json
  mjml/yarn.lock
  requirements.txt
Due: none

Don't pass dict for 204 No Content responses
  karrot/userauth/api.py
Due: autoflake, yapf, makemessages

Paginate history by -date
  karrot/history/api.py
Due: autoflake, yapf, makemessages

Fix 204 no content tests
  karrot/userauth/tests/test_passwordreset_api.py
  karrot/userauth/tests/test_userauth_api.py
Due: autoflake, yapf, makemessages

Add index to history/date field
  karrot/history/migrations/0013_alter_history_date.py
  karrot/history/models.py
Due: autoflake, yapf, makemessages

provide message to mock AddressNotFoundError
  karrot/bootstrap/tests/test_api.py
  karrot/utils/tests/test_geoip.py
Due: autoflake, yapf, makemessages

[CI] update dependencies (#1228)
  karrot/bootstrap/tests/test_api.py
  karrot/utils/tests/test_geoip.py
  mjml/package.json
  mjml/yarn.lock
  requirements.txt
Due: autoflake, yapf, makemessages
