Repository karrot-dev/karrot-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: autoflake, yapf, makemessages

autoflake:
  name: autoflake
  entry: ./scripts/local-or-docker-compose autoflake
  args:
  - --in-place
  - --remove-all-unused-imports
  - --remove-unused-variables
  - --remove-duplicate-keys
  - --expand-star-imports
  language: system

yapf:
  name: yapf
  entry: ./scripts/local-or-docker-compose yapf
  args:
  - --in-place
  language: system

makemessages:
  name: makemessages
  entry: ./scripts/local-or-docker-compose python manage.py makemessages
  language: system
  stages:
  - push
  require_serial: true
  pass_filenames: false

Improve conflict resolution (#1243)
  karrot/conversations/emails.py
  karrot/conversations/tests/test_models.py
  karrot/issues/api.py
  karrot/issues/receivers.py
  karrot/issues/serializers.py
  karrot/issues/templates/conflict_resolution_continued.mjml
  karrot/issues/templates/conflict_resolution_continued.subject.jinja2
  karrot/issues/templates/conflict_resolution_continued_affected_user.mjml
  karrot/issues/templates/conflict_resolution_continued_affected_user.subject.jinja2
  karrot/issues/templates/new_conflict_resolution.mjml
  karrot/issues/templates/new_conflict_resolution.subject.jinja2
  karrot/issues/templates/new_conflict_resolution_affected_user.mjml
  karrot/issues/templates/new_conflict_resolution_affected_user.subject.jinja2
  karrot/issues/tests/test_api.py
  karrot/issues/tests/test_models.py
  karrot/locale/en/LC_MESSAGES/django.po
  karrot/status/helpers.py
  karrot/subscriptions/receivers.py
Due: autoflake, yapf, makemessages

Valid to active... rework various parts add tests
  karrot/agreements/api.py
  karrot/agreements/filters.py
  karrot/agreements/migrations/0001_initial.py
  karrot/agreements/migrations/0002_alter_agreement_valid_to.py
  karrot/agreements/migrations/0003_auto_20220926_2227.py
  karrot/agreements/migrations/0004_auto_20220926_2246.py
  karrot/agreements/models.py
  karrot/agreements/permissions.py
  karrot/agreements/serializers.py
  karrot/agreements/tests/__init__.py
  karrot/agreements/tests/test_api.py
Due: autoflake, yapf, makemessages

Add review_due filter and test
  karrot/agreements/filters.py
  karrot/agreements/tests/test_api.py
Due: autoflake, yapf, makemessages

Add created_by/last_changed_by to agreements
  karrot/agreements/migrations/0002_auto_20220928_1258.py
  karrot/agreements/models.py
  karrot/agreements/serializers.py
Due: autoflake, yapf, makemessages

add comments
  karrot/groups/api.py
Due: autoflake, yapf, makemessages

implement custom roles
  karrot/groups/emails.py
  karrot/groups/migrations/0049_group_roles.py
  karrot/groups/migrations/0050_auto_20220928_2027.py
  karrot/groups/models.py
  karrot/groups/receivers.py
  karrot/groups/templates/user_got_role.mjml
  karrot/groups/templates/user_got_role.subject.jinja2
  karrot/groups/tests/test_api.py
  karrot/groups/tests/test_trust.py
  karrot/history/models.py
  karrot/notifications/models.py
  karrot/notifications/receivers.py
Due: autoflake, yapf, makemessages

autoflake
  karrot/activities/serializers.py
  karrot/locale/en/LC_MESSAGES/django.po
Due: autoflake, yapf, makemessages

Rename active_until to active_to
  karrot/agreements/filters.py
  karrot/agreements/migrations/0003_rename_active_until_agreement_active_to.py
  karrot/agreements/models.py
  karrot/agreements/serializers.py
  karrot/agreements/tests/test_api.py
Due: autoflake, yapf, makemessages

Add agreement history entries
  karrot/agreements/serializers.py
  karrot/history/filters.py
  karrot/history/migrations/0014_history_agreement.py
  karrot/history/models.py
  karrot/history/serializers.py
Due: autoflake, yapf, makemessages

Websocket updates for agreements
  karrot/subscriptions/receivers.py
Due: autoflake, yapf, makemessages

Fix permissions and tests
  karrot/agreements/api.py
  karrot/agreements/permissions.py
  karrot/agreements/serializers.py
  karrot/agreements/tests/test_api.py
Due: autoflake, yapf, makemessages

Update locales
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

extend roles model
  karrot/groups/migrations/0049_group_roles.py
  karrot/groups/migrations/0049_role.py
  karrot/groups/models.py
  karrot/groups/receivers.py
  karrot/groups/serializers.py
  karrot/groups/templates/user_got_role.mjml
  karrot/groups/templates/user_got_role.subject.jinja2
  karrot/groups/tests/test_serializers.py
  karrot/groups/tests/test_trust.py
  karrot/locale/en/LC_MESSAGES/django.po
Due: autoflake, yapf, makemessages

makemessages
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

Add agreements (#1244)
  config/settings.py
  config/urls.py
  karrot/activities/serializers.py
  karrot/agreements/__init__.py
  karrot/agreements/api.py
  karrot/agreements/filters.py
  karrot/agreements/migrations/0001_initial.py
  karrot/agreements/migrations/0002_auto_20220928_1258.py
  karrot/agreements/migrations/0003_rename_active_until_agreement_active_to.py
  karrot/agreements/migrations/__init__.py
  karrot/agreements/models.py
  karrot/agreements/permissions.py
  karrot/agreements/receivers.py
  karrot/agreements/serializers.py
  karrot/agreements/tests/__init__.py
  karrot/agreements/tests/test_api.py
  karrot/groups/api.py
  karrot/groups/migrations/0048_auto_20220926_2158.py
  karrot/groups/models.py
  karrot/groups/roles.py
  karrot/groups/serializers.py
  karrot/groups/tests/test_api.py
  karrot/groups/tests/test_serializers.py
  karrot/history/filters.py
  karrot/history/migrations/0014_history_agreement.py
  karrot/history/models.py
  karrot/history/serializers.py
  karrot/locale/en/LC_MESSAGES/django.po
  karrot/subscriptions/receivers.py
  karrot/tests/integration/test_swagger.py
Due: autoflake, yapf, makemessages

add role requirement
  karrot/groups/models.py
  karrot/groups/serializers.py
  karrot/groups/tests/test_trust.py
Due: autoflake, yapf, makemessages

remake migrations
  karrot/groups/migrations/0048_trust_for_role.py
  karrot/groups/migrations/0049_auto_20220930_1506.py
  karrot/groups/migrations/0050_role_role_required_for_trust.py
Due: makemessages

add history payload
  karrot/groups/receivers.py
Due: autoflake, yapf, makemessages

add missing serializer field
  karrot/groups/serializers.py
  karrot/locale/en/LC_MESSAGES/django.po
Due: autoflake, yapf, makemessages

Fixup test
  karrot/groups/tests/test_trust.py
Due: autoflake, yapf, makemessages

Add role name to role data
  karrot/groups/serializers.py
Due: autoflake, yapf, makemessages

Hide role description if not present in email
  karrot/groups/templates/user_got_role.mjml
Due: none

Add trust for role (#1167)
  karrot/groups/api.py
  karrot/groups/emails.py
  karrot/groups/migrations/0049_auto_20220930_1506.py
  karrot/groups/models.py
  karrot/groups/receivers.py
  karrot/groups/serializers.py
  karrot/groups/stats.py
  karrot/groups/templates/user_got_role.mjml
  karrot/groups/templates/user_got_role.subject.jinja2
  karrot/groups/tests/test_api.py
  karrot/groups/tests/test_serializers.py
  karrot/groups/tests/test_trust.py
  karrot/history/models.py
  karrot/locale/en/LC_MESSAGES/django.po
  karrot/notifications/models.py
  karrot/notifications/receivers.py
Due: autoflake, yapf, makemessages

@-mention replies can create threads
  karrot/conversations/emails.py
  karrot/conversations/tests/test_api.py
Due: autoflake, yapf, makemessages

[CI] update locales
  karrot/locale/ar/LC_MESSAGES/django.po
  karrot/locale/cs/LC_MESSAGES/django.po
  karrot/locale/da/LC_MESSAGES/django.po
  karrot/locale/de/LC_MESSAGES/django.po
  karrot/locale/el/LC_MESSAGES/django.po
  karrot/locale/eo/LC_MESSAGES/django.po
  karrot/locale/es/LC_MESSAGES/django.po
  karrot/locale/es_CO/LC_MESSAGES/django.po
  karrot/locale/fa/LC_MESSAGES/django.po
  karrot/locale/fa_IR/LC_MESSAGES/django.po
  karrot/locale/fr/LC_MESSAGES/django.po
  karrot/locale/gu/LC_MESSAGES/django.po
  karrot/locale/he_IL/LC_MESSAGES/django.po
  karrot/locale/hi/LC_MESSAGES/django.po
  karrot/locale/hr/LC_MESSAGES/django.po
  karrot/locale/hu/LC_MESSAGES/django.po
  karrot/locale/id/LC_MESSAGES/django.po
  karrot/locale/it/LC_MESSAGES/django.po
  karrot/locale/ja/LC_MESSAGES/django.po
  karrot/locale/ko_KR/LC_MESSAGES/django.po
  karrot/locale/lb/LC_MESSAGES/django.po
  karrot/locale/mr/LC_MESSAGES/django.po
  karrot/locale/nl/LC_MESSAGES/django.po
  karrot/locale/no/LC_MESSAGES/django.po
  karrot/locale/pl/LC_MESSAGES/django.po
  karrot/locale/pt/LC_MESSAGES/django.po
  karrot/locale/pt_BR/LC_MESSAGES/django.po
  karrot/locale/ro/LC_MESSAGES/django.po
  karrot/locale/ru/LC_MESSAGES/django.po
  karrot/locale/ru_RU/LC_MESSAGES/django.po
  karrot/locale/sv/LC_MESSAGES/django.po
  karrot/locale/zh_Hans/LC_MESSAGES/django.po
  karrot/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

[CI] update locales (#1242)
  karrot/locale/ar/LC_MESSAGES/django.po
  karrot/locale/cs/LC_MESSAGES/django.po
  karrot/locale/da/LC_MESSAGES/django.po
  karrot/locale/de/LC_MESSAGES/django.po
  karrot/locale/el/LC_MESSAGES/django.po
  karrot/locale/eo/LC_MESSAGES/django.po
  karrot/locale/es/LC_MESSAGES/django.po
  karrot/locale/es_CO/LC_MESSAGES/django.po
  karrot/locale/fa/LC_MESSAGES/django.po
  karrot/locale/fa_IR/LC_MESSAGES/django.po
  karrot/locale/fr/LC_MESSAGES/django.po
  karrot/locale/gu/LC_MESSAGES/django.po
  karrot/locale/he_IL/LC_MESSAGES/django.po
  karrot/locale/hi/LC_MESSAGES/django.po
  karrot/locale/hr/LC_MESSAGES/django.po
  karrot/locale/hu/LC_MESSAGES/django.po
  karrot/locale/id/LC_MESSAGES/django.po
  karrot/locale/it/LC_MESSAGES/django.po
  karrot/locale/ja/LC_MESSAGES/django.po
  karrot/locale/ko_KR/LC_MESSAGES/django.po
  karrot/locale/lb/LC_MESSAGES/django.po
  karrot/locale/mr/LC_MESSAGES/django.po
  karrot/locale/nl/LC_MESSAGES/django.po
  karrot/locale/no/LC_MESSAGES/django.po
  karrot/locale/pl/LC_MESSAGES/django.po
  karrot/locale/pt/LC_MESSAGES/django.po
  karrot/locale/pt_BR/LC_MESSAGES/django.po
  karrot/locale/ro/LC_MESSAGES/django.po
  karrot/locale/ru/LC_MESSAGES/django.po
  karrot/locale/ru_RU/LC_MESSAGES/django.po
  karrot/locale/sv/LC_MESSAGES/django.po
  karrot/locale/zh_Hans/LC_MESSAGES/django.po
  karrot/locale/zh_Hant/LC_MESSAGES/django.po
Due: none

WIP: improving context for emails
  karrot/activities/emails.py
  karrot/activities/templates/activity_notification.subject.jinja2
  karrot/activities/templates/participant_removed.subject.jinja2
  karrot/applications/emails.py
  karrot/applications/templates/application_accepted.subject.jinja2
  karrot/applications/templates/application_declined.subject.jinja2
  karrot/applications/templates/new_application.subject.jinja2
  karrot/conversations/emails.py
  karrot/conversations/templates/conversation_message_notification.subject.jinja2
  karrot/conversations/templates/mention_notification.subject.jinja2
  karrot/conversations/templates/thread_message_notification.subject.jinja2
  karrot/groups/emails.py
  karrot/groups/templates/group_summary.subject.jinja2
  karrot/invitations/emails.py
  karrot/invitations/templates/emailinvitation.subject.jinja2
  karrot/issues/emails.py
  karrot/issues/templates/conflict_resolution_continued.subject.jinja2
  karrot/issues/templates/conflict_resolution_continued_affected_user.subject.jinja2
  karrot/issues/templates/new_conflict_resolution.subject.jinja2
  karrot/issues/templates/new_conflict_resolution_affected_user.subject.jinja2
  karrot/offers/emails.py
  karrot/offers/templates/new_offer.subject.jinja2
  karrot/users/templates/accountdelete_request.subject.jinja2
  karrot/users/templates/accountdelete_success.subject.jinja2
  karrot/users/templates/changemail_request.subject.jinja2
  karrot/users/templates/changemail_success.subject.jinja2
  karrot/users/templates/passwordreset_request.subject.jinja2
  karrot/users/templates/passwordreset_success.subject.jinja2
  karrot/users/templates/signup.subject.jinja2
  karrot/utils/email_utils.py
  karrot/webhooks/templates/incoming_email_rejected.subject.jinja2
Due: autoflake, yapf, makemessages

Update locale files
  karrot/locale/en/LC_MESSAGES/django.po
Due: none

[CI] update locales
  karrot/locale/fr/LC_MESSAGES/django.po
Due: none

[CI] update locales (#1247)
  karrot/locale/fr/LC_MESSAGES/django.po
Due: none

[CI] update dependencies
  mjml/package.json
  mjml/yarn.lock
  requirements.txt
Due: none

Fix case of returning duplicate activities
  karrot/activities/models.py
  karrot/activities/tests/test_activities_api.py
Due: autoflake, yapf, makemessages

Fix duplicate activity display (#1252)
  karrot/activities/models.py
  karrot/activities/tests/test_activities_api.py
  karrot/locale/en/LC_MESSAGES/django.po
Due: autoflake, yapf, makemessages

Use GitHub deploy key for dep update
  .circleci/config.yml
Due: none

Use GitHub deploy key for locale/dep updates
  .circleci/config.yml
Due: none

use new transifex client
  .circleci/config.yml
Due: none

fix tx path
  .circleci/config.yml
Due: none

fix codecov
  .circleci/config.yml
Due: none

Path conditions:
  autoflake: any of: \.py$, but not: karrot/.*/migrations
  yapf: any of: \.py$, but not: karrot/.*/migrations
  makemessages: any of: \.py$
